<form id="ChangePasswordForm" role="form" method="post" ng-submit="save()"
      cg-busy="CRUD">
    <div class="modal-header">
        <button class="close" aria-label="Close" type="button" ng-click="cancel()">
            <span aria-hidden="true">&times</span>
        </button>
        <h4 id="myLargeModalLabel" class="modal-title">[[ title ]]</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">

                <div class="alert alert-success" ng-if="success">
                    Password baru anda telah disimpan.
                </div>

                <div class="form-group" ng-class="{'has-error': errors.passwordLama}">
                    <div class="text-danger small" ng-show="errors.passwordLama">[[ errors.passwordLama ]]
                    </div>

                    <label class="control-label">Password Lama</label>
                    <input type="password" class="form-control" name="passwordLama"
                           placeholder="Password Lama">
                </div>

                <div class="form-group" ng-class="{'has-error': errors.passwordBaru}">
                    <div class="text-danger small" ng-show="errors.passwordBaru">[[ errors.passwordBaru ]]
                    </div>

                    <label class="control-label">Password Baru</label>
                    <input type="password" class="form-control" name="passwordBaru"
                           placeholder="Password Baru">
                </div>

                <div class="form-group" ng-class="{'has-error': errors.konfirmasiPassword}">
                    <div class="text-danger small" ng-show="errors.konfirmasiPassword">[[
                        errors.konfirmasiPassword ]]
                    </div>

                    <label class="control-label">Konfirmasi Password</label>
                    <input type="password" class="form-control" name="konfirmasiPassword"
                           placeholder="Konfirmasi Password">
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default">Save</button>
        <button type="button" class="btn btn-cancel" ng-click="cancel()">Cancel</button>
    </div>
</form>
