<div class="col-lg-3 col-md-3 col-sm-12">
    <div class="panel-group" id="accordionNo">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" style="color: #333">
                    <span class="collapseWill active">Article Category</span>
                </h4>
            </div>
            <div id="collapseCategory" class="panel-collapse collapse in">
                <div class="panel-body" style="padding: 0">
                    <ul class="nav nav-pills nav-stacked tree">
                        {% for kategoriNews in kategoriNewss %}
                            <li class="{{ path('app_article_kategori_news', { slug:kategoriNews.slug }) in currentUrl ? "active" }}">
                                <a href="{{ url('app_article_kategori_news', { slug:kategoriNews.slug }) }}">{{ kategoriNews.nama }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
