<form id="PropinsiForm" role="form" method="post" ng-submit="save()"
      cg-busy="CRUD">
    <div class="modal-header">
        <button class="close" aria-label="Close" type="button" ng-click="cancel()">
            <span aria-hidden="true">&times</span>
        </button>
        <h4 id="myLargeModalLabel" class="modal-title">[[ title ]]</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">

                <div class="form-group" ng-class="{'has-error': errors.nama}">
                    <div class="text-danger small" ng-show="errors.nama">[[ errors.nama ]]</div>

                    <label class="control-label">Nama</label>
                    <input type="text" class="form-control" name="nama" placeholder="Nama" ng-model="propinsi.nama">
                </div>

                <div class="form-group" ng-class="{'has-error': errors.aktif}">
                    <div class="text-danger small" ng-show="errors.aktif">[[ errors.aktif ]]</div>

                    <label class="control-label checkbox-inline">
                        <input type="checkbox" name="aktif" value="1" ng-model="propinsi.aktif"
                               ng-model="propinsi.aktif">Aktif
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default">Save</button>
        <button type="button" class="btn btn-cancel" ng-click="cancel()">Cancel</button>
    </div>
</form>
